<img
  src="assets/comment-logo.png"
  alt="comment"
  for="view-all-comments"
  (click)="showModal()"
  class="comment-logo"
/>
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="All Comments"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleClose()"
>
  <ng-container *nzModalContent>
    <div *ngIf="commentsData.length == 0">
      <p>No comments Yet.</p>
    </div>
    <div *ngFor="let comment of commentsData" class="comment-box">
      <div class="comment-header">
        <div class="avatar">{{ comment.owner[0] | uppercase }}</div>
        <div class="comment-body">
          
          <h6 class="comment-owner">{{ comment.owner }}</h6>
          <p class="comment-message">{{ comment.message }}</p>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Footer Template -->

  <ng-template #modalFooter>
    <button class="btn btn-outline-dark me-2" (click)="handleClose()">
      Close
    </button>
  </ng-template>
</nz-modal>
