<!-- <div class="text-center my-5">
  <h1>Road Trip Planner</h1>
  <h4>Make planned road trips that feels unplanned!</h4>
</div> -->

<button
  class="btn btn-link text-dark text-decoration-none fs-2 fw-bold position-absolute top-50 start-50 translate-middle"
  type="button"
  (click)="onGetStarted()"
>
  Get Started ➡️
</button>

<!-- <div>
  <div>
    <app-buttons />
  </div>
  <div>
    <app-list-destination />
  </div>
</div> -->

<!-- <button class="btn btn-link text-dark text-decoration-none fs-1 fw-bold position-absolute top-50 start-50 translate-middle">
  Click Me
</button> -->
