<div *ngIf="showTitle">
  <div class="container text-center my-5">
    <h1>Road Trip Planner</h1>
    <h4>Make such planned road trips that feels unplanned!</h4>
  </div>
</div>

<div class="spinner-overlay" *ngIf="loading$.loadingObservable | async">
  <div class="spinner">
    <nz-spin class="loader" nzSimple nzSize="large">
      <!--<ng-template #nzIndicator>
        <i
          nz-icon
          nzType="loading"
          nzTheme="outline"
          style="font-size: 36px; color: red"
        ></i>
      </ng-template> -->
    </nz-spin>
  </div>
</div>

<!-- <div *ngIf="showAuth">
  <app-auth />
</div> -->

<!-- <div>
  <app-buttons />
</div> -->
<router-outlet />
