<div class="container">
  <div class="d-flex justify-content-start align-items-center">
    <p class="mb-0 me-2">Sort by</p>
    <select (change)="onSortChange($event)">
      <option value="">Select one.</option>
      <option value="true">Ascending</option>
      <option value="false">Descending</option>
    </select>
  </div>
  <!-- <img
    src="/assets/sort-icon.png"
    alt="sort"
    class="sort-icon"
    (click)="toggleSort()"
  /> -->
</div>

<!-- <div *ngIf="isAscending; else fallback">
  <p>Asc</p>
</div>

<ng-template #fallback>
  <p>Desc</p>
</ng-template> -->
