<div class="container mt-5 w-75">
  <h4 id="addDestinationTitle">Add Your Desired Destination</h4>

  <div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mt-3">
        <!-- add source -->
        <label for="add-source" class="form-label fw-semibold mt-2"
          >Add Source :</label
        >
        <input
          id="add-source"
          class="form-control"
          type="text"
          placeholder="Enter source from where you want to start from."
          formControlName="source"
        />
        <div class="text-danger mt-1" *ngIf="sourceIsInvalid">
          Source Location is Required!
        </div>

        <!-- add destination -->
        <label for="add-destination" class="form-label fw-semibold mt-2"
          >Add Destination :</label
        >
        <input
          id="add-destination"
          class="form-control"
          type="text"
          placeholder="Enter destination you would like to visit."
          formControlName="destination"
        />
        <div class="text-danger mt-1" *ngIf="destinationIsInvalid">
          Destination is Required!
        </div>

        <!-- date -->
        <div class="row mt-2">
          <div class="col-md-5">
            <label for="date" class="form-label fw-semibold">Date From :</label>
            <input
              id="from"
              class="form-control"
              type="date"
              formControlName="from"
            />
            <div class="text-danger" *ngIf="dateFromIsInvalid">
              Date From is Required!
            </div>
          </div>

          <div class="col-md-5">
            <label for="date-to" class="form-label fw-semibold">To :</label>
            <input
              id="to"
              class="form-control"
              type="date"
              formControlName="to"
            />
            <div class="text-danger" *ngIf="dateToIsInvalid">
              Date To is Required!
            </div>
          </div>
        </div>
      </div>

      <!-- duration -->
      <label for="duration" class="form-label mt-2 fw-semibold"
        >Duration (days) :</label
      >
      <input
        id="duration"
        class="form-control"
        type="number"
        placeholder="Select date from and date to."
        readonly
        formControlName="duration"
      />

      <div *ngIf="durationErrors" class="text-danger">
        {{ durationErrors }}
      </div>

      <!-- descriptionn -->
      <label for="description" class="form-label mt-2 fw-semibold"
        >Description :</label
      >
      <textarea
        id="description"
        class="form-control"
        placeholder="Enter description."
        formControlName="description"
      ></textarea>

      <!-- Select  -->
      <label for="travelType" class="form-label fw-semibold mt-2">
        Select Travel Type:
      </label>
      <select
        id="travelType"
        formControlName="travelTypeId"
        class="form-control"
      >
        <option
          *ngFor="let item of options"
          [value]="item.id"
          [disabled]="item.id === '' && form.controls.travelTypeId.value !== ''"
        >
          {{ item.name }}
        </option>
      </select>
      <div
        class="text-danger mt-1"
        *ngIf="
          form.controls.travelTypeId?.invalid &&
          form.controls.travelTypeId?.touched
        "
      >
        Travel Type is Required!
      </div>
      <div>
        <label for="isPublic" class="">Post is Public:</label>
        <input (change)="onIsPublicCheckboxClicked($event)" type="checkbox" />
      </div>

      <div class="mt-4 mb-4">
        <button
          type="button"
          class="btn border me-2 fw-semibold"
          (click)="oncancel()"
        >
          Cancel
        </button>

        <button type="submit" class="btn btn-dark">Submit</button>
      </div>
    </form>
  </div>
</div>

<!-- <div *ngIf="showSuccessAlert">
  toastworks!
</div> -->

<!-- <button (click)="getTravelTypeData()">clicik</button> -->
