<nz-layout>
  <nz-sider nzCollapsible nzWidth="200px">
    <p class="titletext" (click)="onTitleClicked()">Road Trip Planner</p>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="User" nzIcon="user">
        <ul>
          <li nz-menu-item>Profile</li>
          <li nz-menu-item>Logout</li>
        </ul>
      </li>
      <li nz-menu-item>
        <nz-icon nzType="pie-chart" />
        <span>Your Trips</span>
      </li>
      <!-- <li nz-menu-item>
        <nz-icon nzType="desktop" />
        <span>Option 2</span>
      </li> -->
      <!-- <li nz-submenu nzTitle="Team" nzIcon="team">
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li> -->
      <li nz-menu-item>
        <nz-icon nzType="file" />
        <span>File</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header></nz-header>
    <nz-content>
      <div style="padding: 24px">
        <nz-breadcrumb> ... </nz-breadcrumb>
        <div class="inner-content">Bill is a cat.</div>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
