<div class="login-container-whole">
  <div class="login-container">
    <form [formGroup]="usersignin" (ngSubmit)="onSignInClicked()">
      <label for="username">Username</label>
      <input
        type="email"
        placeholder="Enter email"
        class="form-input"
        formControlName="username"
      />

      <div class="text-danger mt-1" *ngIf="usernameIsInvalid">
        Username is Required!
      </div>

      <label for="password">Password</label>
      <input
        type="password"
        placeholder="Enter password"
        class="form-input"
        formControlName="password"
      />

      <div class="text-danger mt-1" *ngIf="passwordIsInvalid">
        Password is Required!
      </div>

      <button class="btn-login mb-2">Sign In</button>
      <span
        >If you are a new User, Please
        <a
          style="color: blue; text-decoration: underline"
          (click)="onRegister()"
          >Register!</a
        ></span
      >
    </form>
  </div>
</div>
<img src="assets/login_image.jpg" class="login_img" />
<div class="login_text">...Please Sign-In</div>
