<button nzDanger nzShape="round" class="btn btn-danger" (click)="showModal()">
  <span>Delete</span>
</button>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Delete Trip"
  id="ant-modal-content"
  (nzOnCancel)="handleCancel()"
>
  <ng-container *nzModalContent>
    <p>Do you really want to delete this trip?</p>
  </ng-container>

  <ng-template [nzModalFooter]>
    <div class="d-flex gap-2">
      <button class="btn btn-dark" (click)="handleCancel()">Cancel</button>
      <button
        nzDanger="danger"
        class="btn btn-danger"
        (click)="handleConfirm()"
      >
        Confirm
      </button>
    </div>
  </ng-template>
</nz-modal>
